/* Type your code here */

/* change the font family and spacing as per your project font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap");
/*body {
  background-image: url("assets/background-image1.png");

}*/

.tablediv {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

table {
  border: 2px solid lavender;
  background-color: white;
}
#bm img {
  position: absolute;
  width: 900px;
  margin-left: 870px;
}
#foot {
  color: black;
}

h1 {
  font-size: 3.5em;
}
h4 {
  font-weight: lighter;
}

tr td,
tr th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid lightgrey;
  border-left: 0px;
  border-right: 0px;
}

td:nth-child(1) {
  color: rgb(69, 148, 197);
}
td:nth-child(1):hover {
  color: darkblue;
  font-size: 1.1em;
}
#notbat {
  color: rgb(69, 148, 197);
}

td:nth-child(2) {
  color: lightgray;
}

.logo img {
  width: 150px;
  margin-left: 1000px;
}

#head {
  background-color: red;
  color: white;
}

#head tr {
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  top: 750px;
  margin-left: 80px;
  font-size: 18px;
  font-family: Nunito Sans;
  font-style: normal;
}
